<!-- footer -->


<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <hr>
        <div class="text-center center-block">
                <a href="https://www.facebook.com/autumncerberus" class="socialicon"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="https://www.linkedin.com/in/tianci-zhang-93162372?trk=hp-identity-name" class="socialicon"><i id="social-gp" class="fa fa-linkedin-square fa-2x social"></i></a>
	            <a href="https://twitter.com/hal_fun" class="socialicon"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
	            <a href="https://plus.google.com/107271725840188438596" class="socialicon"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
	            <a href="mailto:profungi@gmail.com" class="socialicon"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
		</div>
<br>
</div>