<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Custom CSS & Bootstrap Core CSS & font-awesome -->
<link rel="stylesheet" href="{{ "/style.css" }}">
<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">

<!-- Google verification -->
    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

<!-- Bing Verification -->
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<!-- js -->
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
  



</head>